h1 {
    margin: 1em auto;
    width: 50%;
  }
  
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  mat-form-field {
    max-width: 25em;
  }
  
  button[type="submit"] {
    margin: 0 auto;
  }
  
  .new-button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #9c27b0;
    font-size: 16px;
    width: 6.5em;
    color: #fff;
    margin-bottom: 2em;
  }
  input[type="file" i] {
    font-size: 20px;
    margin: 1em 0;
  }
  
  .button-wrap {
    position: relative;
  }
  