<h1 *ngIf="!isEditing">Add animal for rescue. Write down your post:</h1>
<h1 *ngIf="isEditing">Edit your post:</h1>

<form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
  <div class="form-content">

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Animal type</mat-label>
      <mat-select [(value)]="selected" formControlName="animal_species" required>
        <mat-option value="dog">Dog</mat-option>
        <mat-option value="cat">Cat</mat-option>
        <mat-option value="rabbit">Rabbit</mat-option>
        <mat-option value="bird">Bird</mat-option>
        <mat-option value="reptile">Reptile</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Post due date:</mat-label>
      <input matInput type="date" formControlName="due_date" required />
    </mat-form-field>

      <label *ngIf="!isEditing">Upload photo of the animal:</label>
      <label *ngIf="isEditing">Change animal photo:</label>
      <!-- Should we allow posts without images? -->
      <input type="file" formControlName="photo" id="photo" accept='image/*' (change)="onFileChanged($event)" />

      <div class="img-container"  *ngIf="isEditing">
        <img *ngIf="animal" src="{{BASE_BACKEND_URL}}{{ animal.photo }}"/>
      </div>

      <div class="img-container"  *ngIf="!isEditing">
        <img *ngIf="previewImage" [src]="previewImage"/>
      </div>

    <button mat-button type="submit" [disabled]="!animalForm.valid" >
      Submit
    </button>
  </div>

</form>
