<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<mat-toolbar color="primary" class="navbar">
	<div id="mainLink">
		<a [routerLink]="['']" routerLinkActive="active">
			<span class="material-icons">pets</span>Animal Rescue
		</a>
	</div>

	<div class="links">
		<div *ngIf="auth.isLoggedOut$ | async">
			<a mat-button [routerLink]="['login']" routerLinkActive="active" class="nav-link">
				Log in
			</a>
		</div>
		<div *ngIf="auth.isLoggedOut$ | async">
			<a mat-button [routerLink]="['register']">Sign up</a>
		</div>
		<div>
			<a mat-button [routerLink]="['animals']">Animals</a>
		</div>
		<div>

			<a mat-button [routerLink]="['animals/post']">
				<span class="material-icons">create</span>Add Post</a>
		</div>
		<div *ngIf="auth.isLoggedIn$ | async">
			<a mat-button [routerLink]="['user']">
				<span class="material-icons" style="height: 1.3em; padding-top: 0.2em;">account_circle</span>
			</a>
		</div>
		<div *ngIf="auth.isLoggedIn$ | async">
			<a mat-button (click)="logout()">
				<span class="material-icons">exit_to_app</span>Log out</a>
		</div>
	</div>
</mat-toolbar>

<app-info-messages></app-info-messages>
