<div id="firstHeader">
	<div>
		<img id="petAdoptImg" alt="Pet adoption image" src="./assets/images/undraw_pet_adoption_2qkw.svg"/>
  </div>
		<div class="headerAndList">
			<h1>Save a stray animal now</h1>

			<h2><a mat-button [routerLink]="['animals']">Browse</a> cuties that need your help</h2>
		</div>
	</div>

	<div id="secondHeader">
		<div class="headerAndList">
			<div id="secondHeaderText">
				<h2 id="secondHeaderMainH2">Subscribe to find cuties in need near you</h2>
				<h2>..or <a mat-button [routerLink]="['animals/add']">Post</a> an animal in need</h2>
			</div>
			<div>
				<img id="petWalkImg" alt="Pet adoption image" src="./assets/images/undraw_dog_walking_0jpt.svg"/>
      </div>
			</div>
		</div>

		<div id="firstHeader">
			<div>
				<img id="petPlayImg" alt="Pet adoption image" src="./assets/images/undraw_nature_fun_n9lv.svg"/>
      </div>
				<div class="headerAndList">
					<h2>Adopt, love & play!</h2>
				</div>
			</div>