h1 {
  margin: 1em auto;
  text-align: center;
  color: crimson;
}

.mat-grid-list{
  margin-top: 0 ! important;
}

#filterForm{
  display: flex; 
  flex-direction: row;
}

form{
  margin: 6em auto 0 auto; 
  text-align: center;
  display: flex; 
  flex-direction: row;
  width: max-content;
}
