h1 {
  margin: 1em auto;
  text-align: center;
  color: crimson;
}

#filterForm{
  display: flex; 
  flex-direction: row;
}

form{
  margin: 6em auto 6em auto; 
  text-align: center;
  display: flex; 
  flex-direction: row;
  width: max-content;
}
