.container {
  width: 50%;
  margin: 40px auto;
  background-color: white;
  border: 1px solid #ffdede;
  box-shadow: 5px 10px #ffdede;
  padding: 20px;
}


.editIcon {
  display: flex;
  width: 100%;
}

.editIcon > * {
  width: 100%;
  text-align: right;
  align-self: right;
}
