<div class="container">
  <div *ngIf="isEditing; else elseBlock">
    <form [formGroup]="editUserForm" (ngSubmit)="onUserSubmit()" class="user-form">
      <div class="editIcon">
        <button mat-button type="submit" [disabled]="!editUserForm.valid">
          <span class="material-icons">check</span>
        </button>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" required />
        </mat-form-field>
      </div>

      <div>
        <mat-checkbox formControlName="receiveNotifications">Receive notifications</mat-checkbox>
      </div>
    </form>
  </div>
  <div id="elseBlock" *ngIf="isEditing == false">
    <div class="editIcon">
      <a mat-button>
        <span class="material-icons" (click)="isEditing = !isEditing">create</span>
      </a>
    </div>
    <div>
      <p>Name: {{ user.me.name }}</p>
      <p>Email: {{ user.me.email }}</p>
      <p>City: {{ user.me.city }}</p>
      <p>Receive notifications: {{ user.me.receive_notifications ? 'Yes': 'No' }}</p>
    </div>
  </div>
</div>
