<h1>Add animal for rescue</h1>
<form [formGroup]="animalForm" (ngSubmit)="onSubmit()" class="register-form">

	<mat-form-field>
		<mat-label>First name</mat-label>
		<input matInput type="text" formControlName="name" required>
    </mat-form-field>

		<mat-form-field>
			<mat-label>Animal type</mat-label>
			<input matInput type="text" formControlName="animalType" required>
    </mat-form-field>

			<mat-form-field>
				<mat-label>City</mat-label>
				<input matInput type="text" formControlName="city" required>
    </mat-form-field>

				<mat-form-field>
					<mat-label>Post due date:</mat-label>
					<input matInput type="date" formControlName="dueDate" required>
    </mat-form-field>

					<label>Upload photo:</label>
					<input type="file" formControlName="image" required class="custom-file-input">

						<button mat-button type="submit" [disabled]="!animalForm.valid">Submit</button>

						<p>{{animalForm.status}}</p>
</form>