h1 {
  margin: 1em auto;
  text-align: center;
  color: crimson;
}


.mat-button {
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  width: min-content;
  padding: 0.5em 1em;
}

.mat-card {
  width: 50%;
  margin: 0 auto 3em auto;
  padding: 4em;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.mat-button:disabled {
  background-color: lightgray;
}
.mat-card-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3em;
}

#communicationBtn {
  margin-left: 20em;
}

/*FB share button*/
#fb-share-button {
  background: #3b5998;
  width: 4em;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px 8px;
  display: flex;
  position: static;
  align-self: self-end;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213A6F
}

#fb-share-button svg {
  width: 18px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px
}

#fb-share-button a, #fb-share-button a:visited, #fb-share-button a:active {
  vertical-align: middle;
  color: white;
  font-size: 14px;
  padding: 0 3px;
  text-decoration: none;
}
