<h1>Animal Details</h1>

<div *ngIf="animal">
  <mat-card>
    <div class="card-content">
      <mat-card-header>
        <h2><span>Name: </span>{{ animal.title }}</h2>
        <h2><span>Type: </span>{{ animal.animal_species | uppercase }}</h2>
        <h3><span>Location: </span>{{ animal.city }}</h3>
        <p><span>Description: </span>{{ animal.description }}</p>
        <h4><span>Posted by: </span>{{ animal.author.name}}</h4>
        <h4><span>Due date: </span>{{ animal.date_updated | date:'fullDate' }}</h4>

        <div *ngIf="animal.volunteers">
          <p>Someone has requested to rescue {{ animal.title}}</p>
        </div>
        <button mat-button (click)="wantToRescue(animal)">
          <span class="material-icons">
            add_alert
          </span>
            Subscribe for notifications
        </button>
      </mat-card-header>

      <div class="details">
        <img mat-card-image src="{{ animal.photo }}"
          alt="Photo of {{ animal.title }}" />

        <!-- if the current user rescued the animal - access the communication channel? or ? -->
      </div>
    </div>
  </mat-card>
</div>